@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

img{
  background-size: cover;
}


